body {
    background-color: rgb(214, 210, 210);
}

.card {
    display: inline-block;
    width: 15rem;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: 20px 1rem;
    background-color: white;
}

h1 {
    color: white
}

img {
    width: 100%;
    border-radius: 20px;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    border-radius: 20px;
    display: block;
    background-color: tomato;
    padding: 10px;
    color: white;
}

a:hover {
    background-color: rgb(81, 44, 247);
}