  
* {
    margin-top: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
   
}

.center {
    text-align: center;
    font-weight: bold;
  font-size: large;
    font-family: sans-serif;
   
}

.header {
    background-color: grey;
    color: white;
    padding: 10px;
   font-size: larger;
   font-family: cursive;
}

.banner {
    height: 300px;
    padding: 100px;
    background-color: #d62f2f;
    color: white;
    font-family: cursive;
    font-size: xx-large;
   font-size: larger;
   font-family: cursive;
}

.section-1 {
    height: 250px;
    display: flex;
    justify-content: center;
}

.circle-card {
    background-color: rgb(199 193 27);
    width: 15%;
    border-radius: 50%;
    margin: 10px;
}

.section-2 {
    display: flex;
   font-size: larger;
   font-family: cursive;
}

.left-section-2 {
    background-color: rgb(122 60 133);
    width: 60%;
    height: 306px;
    margin: 10px;
    color: white;
    padding: 150px 0px;
    font-family: cursive;
    /* font-weight: bold; */
    font-size: x-large;
}

.right-section-2 {
    display: flex;
    flex-direction: column;
    width: 40%;
  font-size: larger;
   font-family: cursive;
}

.column {
    background-color:#34aea2;
    height: 100px;
    margin: 2px;
    padding: 50px 0px;
    color: white;
  font-size: larger;
  font-family: cursive;
}

.section-3 {
    height: 300px;
    display: flex;
    justify-content: center;
  font-family: cursive;
   font-size: larger;
}

.rect-card {
    background-color: #bd5d39;
    width: 20%;
    margin: 10px;
   font-family: cursive;
   font-size: larger;
}

.footer {
    padding: 10px;
    background-color:#722c2c;
    color: white;
   font-family: cursive;
   font-size: larger;
  
  
}
